.sakuhin{

text-align:center


}

.tank{

    width: 48%;
    
}

.meisi{

    width: 16.2%;

}

.movie{

    display: block;
    margin-top: 4%;
    margin-left: auto;
    margin-right: auto;
    width: 65%;
}

