.tank{

    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 65%;
    
}

.meisi{

    display: block;
    margin-top: 4%;
    margin-right: auto;
    margin-left: auto;
    width: 20%;

}

.movie{

    display: block;
    margin-top: 4%;
    margin-left: auto;
    margin-right: auto;
    width: 65%;
    margin-bottom: 200px;
}

